<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
  <link rel="stylesheet" href="app.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="pickaday.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="angular-messages.js"></script>

  <style>
    .error {border: 1px solid blue; padding: 10px 15px; margin: 0 0 10px; border-radius: 10px; }
    .error--warning {border: 1px solid red;}
    .error--invalid {border: 1px solid green;}
    .upload{
      width: 50%;
      margin: auto;
    }
    .upload-zone {
      text-align: center;
      border: dashed darkgrey 10px;
      padding: 50px 100px;
    }
    .upload-zone a {
      text-decoration: none;
      background: rgba(0, 133, 215, 0.6);
      color: #fff;
      border-radius: 3px;
      box-shadow: 0 3px 0 0 rgba(0, 133, 215, 1);
      font-size: 16px;
      border: none;
      cursor: pointer;
      padding: 10px 15px;
      margin-bottom: 3px;
    }

    .parent {border: 1px solid red; padding: 25px}
    .child {border: 1px solid blue; padding: 25px}
    .outer {border: 1px solid green; padding: 25px}

    .model {
      background: #f9f9f9;
      padding: 25px;
      margin: 20px 0;
    }

    form .ng-dirty.ng-invalid {
      border: 1px solid red;
    }
    form .ng-valid {
      border: 1px solid green;
    }
  </style>
</head>
<body>

<!--  <div ng-app="myApp" ng-controller="MainController as main">-->
<!--    <counter count="main.firstCount"></counter>-->
<!--    <counter count="main.secondCount"></counter>-->
<!--    <counter count="main.thirdCount"></counter>-->
<!--  </div>-->

<!--<div ng-app="myApp" ng-controller="ErrorController as errors">-->
<!--  <div ng-repeat="error in errors.list"-->
<!--       error-message-->
<!--       type="{{error.type}}">-->
<!--    {{ error.message }}-->
<!--  </div>-->
<!--</div>-->

<!--<div ng-app="myApp">-->
<!--  <contact-card>-->
<!--    <h1>Tom</h1>-->
<!--    <p>Lorem ipsum</p>-->
<!--  </contact-card>-->
<!--  <contact-card>-->
<!--    <h1>Mark</h1>-->
<!--  </contact-card>-->
<!--  <contact-card>-->
<!--    <h1>Travis</h1>-->
<!--    <p>Lorem ipsum</p>-->
<!--  </contact-card>-->
<!--</div>-->

<!--<tabs ng-app="myApp">-->
<!--  <tab label="One">-->
<!--    Tab One Content-->
<!--  </tab>-->
<!--  <tab label="Two">-->
<!--    Tab Two Content-->
<!--  </tab>-->
<!--  <tab label="Three">-->
<!--    Tab Three Content-->
<!--  </tab>-->
<!--</tabs>-->

<!--<file-upload ng-app="myApp"></file-upload>-->

<!--<div ng-app="myApp" ng-controller="DateController as ctrl">-->
<!--  Parent date: {{ctrl.date | date:'MMM d, yyyyy'}}-->
<!--  <date-picker date="ctrl.date"></date-picker>-->
<!--</div>-->

<!--<div ng-app="myApp" ng-controller="MainController as main">-->
<!--  <counter count="main.count"></counter>-->
<!--</div>-->

<!--<div ng-app="myApp">-->
<!--  <stateful-component></stateful-component>-->
<!--</div>-->

<!--  <div ng-app="myApp">-->
<!--    <div class="parent" ng-controller="ContactController as contact">-->
<!--      <a href="" ng-click="contact.logoutUser();">-->
<!--        Logout-->
<!--      </a>-->
<!--      <ul>-->
<!--        <li ng-repeat="item in contact.contacts">-->
<!--          <p>Name: {{item.name}}</p>-->
<!--          <p>Email: {{item.email}}</p>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <user-manager></user-manager>-->
<!--    </div>-->
<!--    <outer-component></outer-component>-->
<!--  </div>-->

<!--    <div ng-app="myApp" ng-controller="HTMLController as html">-->
<!--      <div html-editor contenteditable ng-model="html.content">-->
<!--        Some-->
<!--      </div>-->
<!--      <p> {{ html.content}}</p>-->
<!--      <div>-->
<!--        <a href="" ng-click="html.reset()">-->
<!--          Reset-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->


  <div ng-app="myApp">
    <form
      novalidate
      name="register"
      ng-controller="CheckoutController as checkout"
      ng-submit="checkout.onSubmit();">
      <h4>Checkout</h4>
      <p>Fill in your details to complete your order</p>

      <label>
        Username
        <input type="text"
               name="username"
               placeholder="Username"
               ng-model="checkout.details.username"
               ng-minlength="2"
               required="required">
      </label>

      <div ng-if="register.username.$touched"
           ng-messages="register.username.$error">
        <div ng-message="minlength">
          Minimum of 2 characters
        </div>
        <div ng-messages-include="validateTemplate.html"></div>
      </div>

      <label>
        Password
        <input type="password"
               name="password"
               placeholder="Password"
               ng-model="checkout.details.password"
               ng-minlength="8"
               ng-maxlength="20"
               ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/"
               required="required">
      </label>

      <div ng-if="register.password.$touched"
           ng-messages="register.password.$error"
           ng-messages-multiple>
        <div ng-message-exp="['minlength', 'maxlength']">
          Min 8, Max 20 chars
        </div>
        <div ng-messages-include="validateTemplate.html"></div>
        <div ng-repeat="error in checkout.passwordErrors">
          <div ng-message-exp="error.type">
            {{ error.text }}
          </div>
        </div>
      </div>

      <label>
        Coupon
        <input type="text"
               name="coupon"
               placeholder="Coupon"
               ng-model="checkout.details.coupon"
               required="required"
               coupon-format>
      </label>

      <div ng-if="register.coupon.$touched"
           ng-messages="register.coupon.$error">
        <div ng-message="required">
          This is field required!
        </div>
        <div ng-message="coupon">
          Invalid coupon!
          Must be characters, followed by underscore and 2 digits
        </div>
      </div>


<!--      <pre>{{register.coupon.$error | json}} </pre>-->

      <button type="submit">
        Checkout
      </button>

      <div>
        <pre>{{ checkout.details | json}}</pre>
      </div>
    </form>

  </div>

  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="controllers/CounterController.js"></script>
  <script src="controllers/MainController.js"></script>
  <script src="controllers/ErrorController.js"></script>
<!--  <script src="directives/Counter.js"></script>-->
  <script src="controllers/counter.js"></script>
  <script src="directives/ErrorMessage.js"></script>
  <script src="directives/ContactCard.js"></script>
  <script src="directives/FileUpload.js"></script>
  <script src="directives/Tabs/Tab.js"></script>
  <script src="directives/Tabs/Tabs.js"></script>
  <script src="services/PikadayService.js"></script>
  <script src="controllers/DateController.js"></script>
  <script src="directives/DatePicker.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>

<!--  <script src="components/stateful-component.js"></script>-->
<!--  <script src="components/stateless-component.js"></script>-->

<!--<script src="controllers/ContactController.js"></script>-->
<!--<script src="components/OuterComponent.js"></script>-->
<!--<script src="components/UserManager.js"></script>-->

<!--<script src="directives/HTMLEditor.js"></script>-->
<!--<script src="controllers/HTMLController.js"></script>-->

<script src="directives/couponFormat.js"></script>
<script src="controllers/CheckoutController.js"></script>
</body>
</html>
